body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #a78bfa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
    background: none;
    position: relative;
}

.profile {
    margin-top: 20px;
}

.profile img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background: none;
    position: absolute;
    top: 0;
    width: 100%;
}

nav ul li {
    margin: 0 10px;
}

nav ul li button {
    background: none;
    border: none;
    color: #ecf0f1;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
}

nav ul li button:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    background: none;
    margin: 20px;
    border-radius: 10px;
    flex: 1; /* Allow main content to grow and push footer down */
}

section {
    margin-bottom: 40px;
}

section h2 {
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    padding: 10px;
    background: none;
    justify-content: center; /* Center the footer content */
}
